<h1>Hello World from hello !</h1>

<%=1+1%>

<% target="world" %> <br/>
<%= "Hello #{target}"%>

<br/>
<% @array.each do|n|%>
  <%=n%><br/>
<%end%>
<%= link_to('Index Page',{:action=>'index'})%><br/>

ID:<%=@id%><br/>

ID:<%=params[:id]%><br/>
Page:<%=@page%><br/>
Next Page:<%=@page.to_i+1%>
